{% extends "homepage/header.html" %}

{% block content %}

        {% if courses %}
            {% for course in courses %}
               <div class="col-sm-4">
                   <div class="thumbnail">
                    <a href="{% url 'courses:detail' course.id %}">
                       <div class="backgroundimg" style="background-image:url({{ course.course_logo.url }})"></div>
                        <div class="card-block">
                            <h2 class="card-title">{{ course.field }}</h2>
                            <p class="card-text">{{ course.courseDesc }}</p>
                            <p class="card-text">{{ course.user.first_name }} {{ course.user.surname }}</p>
                        </div>
                    </a>
                    </div>
                 </div>
            {% endfor %}
        {% else %}
                <div class="col-sm-12">
                    <h1>No Courses</h1>
                </div>
        {% endif %}



  <!-- END Page Content -->
{% endblock %}
