{% extends 'homepage/header.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'courses:detail' course.id %}">
                            {% if course.course_logo %}
                                <img src="{{ course.course_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ course.course_title }}</h1>
                </div>
            </div>
        </div>

        <!-- Right lesson Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'courses:detail' course.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'courses:create_lesson' course.id %}">Add New Document</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Document</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="course" value="{{ course }}">
                        {% include 'courses/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
