{% extends 'homepage/header.html' %}

{% block content %}
<div class="row intro">
    <div class="col-md-8">
        <h1>{{lesson.lesson_title}}</h1>
        <h3>{{course.courseName}}</h3>
        <p>{{ course.field }}</p>
        <a class="float-lg-right btn addBtn" href="{% url 'courses:create_document' course.id lesson.id %}">Add Notes</a>
    </div>
</div>
{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}
<div class="row">
    <ul class="nostyle">
        {% for document in lesson.document_set.all %}
        <div class="col-sm-4">
            <div class="thumbnail overflowhid">
                <embed src="{{document.document_upload.url}}" />
                <div class="caption">
                    <h2>{{document.document_title}}</h2>

                    <!-- View Details -->
                    <a href="{{document.document_upload.url}}" download class="btn btn-primary btn-sm" role="button">Download</a>

                    <!-- Delete Album -->
                    <form action="{% url 'courses:delete_document' course.id lesson.id document.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="course_id" value="document.id" />
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
        {% cycle '' '' '' '' '' '<div class="clearfix"></div>' %}
        {% endfor %}
    </ul>
</div>

{% endblock %}